body {
    background-image: url(../body-bg.jpg);
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
}

h2 {
    color: rgb(255, 255, 255);
    font-size:200%;
    padding-bottom: 5%;
}

.input_box {
    width: 35%;
    text-align:left;
    margin-top: 10%;
    margin-left: 10%;
    border-radius: 8px;
    padding: 2%;
    background-color: rgba(250, 235, 215, 0.384);
}

.submit {
    background-color: rgb(170, 103, 39);
}

.entry {
    font-size: 11px;
}

.invalid{
    border-style: solid;
    border-width: 3px;
    border: red;
}
.valid{
    border-style: solid;
    border-width: 3px;
    border: 13px green;
}

input{
    padding: 2%;
    border-radius: 6px;
    background: rgba(252, 250, 250, 0.397);
    width: 100%;
    background-color: rgb(243, 245, 247);
}

button.download.btn.btn-outline-light.btn-lg {
    width: 100%;
    font-size: 13px;
}

